.container {
    background-color: rgb(115, 155, 119);
    margin-top: 20px;
}


.uno {
    background-color: palevioletred;
}

.dos {
    background-color: rgb(195, 198, 202);
}

.color1 {
    background-color: rgb(174, 120, 77);
}

.ancho {
    background-color: rgb(220, 183, 114);
}


