.navbar {
    height: 100px;
}

.navbar-nav {
    background-color:#999991;
    column-gap: 15rem;
    width: 60px;
    padding-left: 100px;
}

.nav-link {
    width: 80px;
}

.cajas-productos {
    height: 30vh;
    width: 100vh;
    margin-left:20px;
}

.footer {
    margin-top:35vh;
    margin-left:3px;
}

